.choice-container {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgba(2, 95, 56, 0.25);
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #077c38;
  color: white;
}

.choice-text {
  padding: 1.5rem;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

/*HUD*/

#hud {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.hud-prefix {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 3.rem;
  border: 0.3rem solid #077c38;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #077c38;
  width: 0%;
}

/*loader*/

#loader {
  border: 1.6rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 1.6rem solid #077c38;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { 
    transform: rotate(0deg); 
}
  100% { 
    transform: rotate(360deg); 
}
}